@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
  url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
  url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Product sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1148px;
  margin-right: auto;
  margin-left: auto;
}
