@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
  url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
  url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  margin-top: 59px;
  font-family: "Product sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}
.divider {
  width: 300px;
  height: 3px;
  background-color: #eee;
  border: none;
  margin-top: 0;
  margin-bottom: 54px;
}

/* =========== HEADER PART ========== */
.pixer-header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.pixer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pixer-logo {
  display: block;
  width: 59px;
  height: 20px;
  transition: opacity 0.3s ease;
}

.pixer-logo:hover {
  opacity: 0.8;
}

.pixer-logo:active {
  opacity: 0.4;
}

.pixer-header-left {
  display: flex;
  align-items: center;
}

.pixer-nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pixer-nav-item {
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

.pixer-nav-item:hover {
  border-bottom-color: #191919;
}

.pixer-nav-item:active {
  background-color: rgba(25, 25, 25, 0.7);
}

.pixer-nav-item:active .pixer-nav-link {
  color: #FFFFFF;
}

.pixer-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  padding: 16px;
  transition: color 0.3s ease;
}

.blue-link {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 15px;
  line-height: 24px;
  background-color: #00BAFC;
  border: 3px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 8px 16px;
  margin-left: 32px;
  white-space: nowrap;
}

.blue-link-add-style {
  font-weight: bold;
  transition: background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

.blue-link-add-style:hover {
  background-color: #fff;
  border-color: #00bafc;
  color: #00BAFC;
}

.blue-link-add-style:active {
  background-color: rgba(0, 186, 252, 0.6);
  border-color:rgba(0, 186, 252, 0.6);
}

.has-dropdown-item {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.dropdown-list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: -16px;
  background-color: #fff;
  margin: 0;
  padding: 8px 0 8px;
  list-style-type: none;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: opacity 0.6s, visibility 0.6s;
  transition: opacity 0.6s, visibility 0.6s;
}

.has-dropdown-item:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  transition: background-color 0.3s ease,
    opacity 0.3s ease;
}

.dropdown-item:hover {
  background-color: #00BAFC;
}

.dropdown-item:active {
  background-color: #00BAFC;
  opacity: 0.6;
}

.dropdown-link {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.dropdown-link:hover {
  color: #FFFFFF;
}

.services {
  padding-top: 200px;
}

.header-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.header-section-left {
  max-width: 465px;
}

.header-section-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 130%;
}

.header-section-text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 24px;
}

.header-section-link {
  margin-left: 0;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.header-section-link:hover {
  background-color: rgba(0, 186, 252, 0.8);
}

.header-section-link:active {
  background: rgba(0, 186, 252, 0.6);
}

.header-section-video {
  width: 458px;
  height: 258px;
  border: none;
  border-radius: 5px;
}

/* SERVICES ============================================== */

.services {
  padding:0;
  padding-bottom: 100px;
  text-align: center;
}

.services-top h2 {
  font-size: 24px;
  line-height: 130%;
  color: #000000;
  text-align: center;
}

.services-top p {
  width: 719px;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.services-card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.services-card a{
  width: 320px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin-right: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 24px;
}


.card-content::before {
  content:"";
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
}

.services-card:nth-child(1) .card-content::before {
  background-image: url(../img/website.svg);
  width: 204px;
  height: 130px;
}

.services-card:nth-child(2) .card-content::before {
  background-image: url(../img/bot-illustration.svg);
  width: 222px;
  height: 130px;
}

.services-card:nth-child(3) .card-content::before {
  background-image: url(../img/smm-illustration.svg);
  width: 177px;
  height: 130px;
}

.services-card:nth-child(4) .card-content::before {
  background-image: url(../img/design-illustration.svg);
  width: 179px;
  height: 130px;
}

.services-card:nth-child(5) .card-content::before {
  background-image: url(../img/crm-illustration.svg);
  width: 169px;
  height: 130px;
}


.services-card:hover a {
  box-shadow: 0px 15px 21px rgba(0, 0, 0, 0.1);
}

.services-card:active a {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-card a {
  display: inline-block;
}

.services-card:nth-child(3) a {
  margin-right: 0;
}

.services-card:nth-child(5) a {
  margin-right: 0;
}

.services-card:nth-child(1) {
  margin-left: auto;
}

.services-card:nth-child(3) {
  margin-right: auto;
}

.services-card:nth-child(4) {
  margin-left: auto;
}

.services-card:last-child{
  margin-right: auto;
}

.services-card h4 {
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  margin-top: 13px;
}

.services-card p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}

/* STAGES ================================================ */

.stage {
  padding-top: 60px;
}

.stage-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.stage:nth-child(2n) .stage-content {
  flex-direction: row-reverse;
}

.stages-wrapper {
  padding: 0 50px 50px 50px;
}

.stage-content::before {
  content:"";
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.stage:nth-child(1) .stage-content::before {
  background-image: url(../img/step-illustration7.svg);
  width: 300px;
  height: 277px;
}

.stage:nth-child(2) .stage-content::before {
  background-image: url(../img/step-illustration.svg);
  width: 300px;
  height: 224px;
}

.stage:nth-child(3) .stage-content::before {
  background-image: url(../img/step-illustration2.svg);
  width: 300px;
  height: 258px;
}

.stage:nth-child(4) .stage-content::before {
  background-image: url(../img/step-illustration4.svg);
  width: 300px;
  height: 170px;
}

.stage:nth-child(5) .stage-content::before {
  background-image: url(../img/step-illustration25.svg);
  width: 300px;
  height: 232px;
}

.stage-content-inner {
  width: 490px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.services-card-links {
  margin-top: 50px;
}

.btn-light {
  font-weight: 600;
  color: #00BAFC;
  font-size: 16px;
  margin: 0;
  margin-left: 20px;
  padding: 5px;
  text-decoration: none;
  border-bottom: 2px solid #00BAFC;
}

.stage-content h3 {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 0;
}

.stage-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.btn-center {
  margin: 50px 0;
  margin-left: 450px;
}












