@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
  url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
  url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Product sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}
/* HEADER PART */
.pixer-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.pixer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pixer-logo {
  display: block;
  width: 59px;
  height: 20px;
  transition: opacity 0.3s ease;
}
.pixer-logo:hover {
  opacity: 0.8;
}
.pixer-logo:active {
  opacity: 0.4;
}
.pixer-header-left {
  display: flex;
  align-items: center;
}
.pixer-nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pixer-nav-item {
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease;
}
.pixer-nav-item:hover {
  border-bottom: 3px solid #191919;
}
.pixer-nav-item:active {
  background-color: rgba(25, 25, 25, 0.7);
}
.pixer-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  padding: 16px;
  transition: color 0.3s ease;
}
.pixer-nav-link:active {
  color: #FFFFFF;
}
.pixer-header-tel {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  background-color: #00BAFC;
  border: 3px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 8px 10px;
  margin-left: 32px;
  transition: background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}
.pixer-header-tel:hover {
  background-color: #fff;
  border-color: #00bafc;
  color: #00BAFC;
}
.pixer-header-tel:active {
  background-color: rgba(0, 186, 252, 0.6);
  border-color:rgba(0, 186, 252, 0.6);
}
.has-dropdown-item {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}
.has-dropdown-item:hover .dropdown-list {
  opacity: 1;
  display: block;
}
 .has-dropdown-item .dropdown-list {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: -16px;
  background-color: #fff;
  margin: 0;
  padding: 8px 0 8px;
  list-style-type: none;
  transition: opacity 3s ease;
}
.dropdown-list {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.dropdown-item {
  transition: background-color 0.3s ease,
    opacity 0.3s ease;
}
.dropdown-item:hover {
  background-color: #00BAFC;
}
.dropdown-item:active {
  background-color: #00BAFC;
  opacity: 0.6;
}
.dropdown-link {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  transition: color 0.3s ease;
}
.dropdown-link:hover {
  color: #FFFFFF;
}
